<body>
  <header>
    <h1 id = "main_title">Photogur <h1>
      <nav>
        <ul>
          <li> <%= link_to "Add New Picture", "/pictures/new" %> </li>
        </ul>
      </nav>
  </header>
    <div id = "title">
      <p> You have <%= @picture.length %> pictures in your Photogur app</p>
    </div>
    <% @picture.each do |picture| %>
    <div id="picture_description">
          <p id = "pic_title"><%= picture.title %>, <%= picture.artist %></p>
          <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
    <% end %>
    </div>
</body>
