<body>
  <header>
    <h1>Photogur <h1>
      <nav>
        <ul>
          <li> <%= link_to "New Picture", "/pictures/new" %> </li>
        </ul>
      </nav>
  </header>
    <div id = "title">
      <p> You have <%= @picture.length %> pictures in Photogur </p>
    </div>
    <% @picture.each do |picture| %>
    <div id="picture_description">
          <%= picture.title %>, <%= picture.artist %>
          <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
    <% end %>
    </div>
</body>
